<nav class="navbar h-navbar-default col-lg-12 col-12 p-0 fixed-top flex-row">
  <div
    class="text-center h-navbar-wrapper d-flex align-items-top justify-content-center"
  >
    <a routerLink="/">Henry </a>
  </div>
</nav>
<div class="container-fluid h-page-wrapper">
  <nav class="sidebar h-sidenav-default sidebar-offcanvas sidebar-dark">
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/henry">Henry</a></li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/parents">Familía</a>
      </li>
    </ul>
  </nav>

  <div class="h-panel">
      <router-outlet></router-outlet>
  </div>
</div>
